{% extends 'base/base.html' %}

{% block content %}
{% load static %}

<div class="vacancy-section">
    <div class="container">
        <div class="crumbs">
            <a class="crumbs__link" href="{% url 'base:home_page' %}">Главная
                <i class="icon icon_circle crumbs__icon"></i>
            </a>
            <a class="crumbs__link_current" href="">{{ config.TITLE_2 }}</a>
        </div>
        <div class="title title_h2 text_left">
            <div class="title__text">{{ config.TITLE_2 }}</div>
            <div class="title__divider title__divider_left"></div>
        </div>
        <div class="vacancy-list">
            {% for vacancy in vacancies %}
            <div class="vacancy">
                <div class="vacancy__title-n-date">
                    <div class="vacancy__title">{{ vacancy.title }}</div>
                    <div class="vacancy__date">{{ vacancy.date|date:'d.m.Y' }}</div>
                </div>
                <div class="vacancy__text">
                    {{ vacancy.text|safe }}
                </div>
                <div class="vacancy__btn btn btn_1" data-popbox-target="popbox-vacancy">откликнуться на вакансию</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}